* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  header a {
    border-radius: 15px;
    color: white !important;
  }

  header ul li a:hover {
    background-color: #393d46;
    color: black !important;
    transition: color 0.2s;
  }

  .logo {
    width: 100px;
    height: 80px;
  }

  .nav-link { 
    font-size: 1.2rem;
    margin-right: 30px;
  }

  .dropdown-item:hover {
    background-color: #00adb4;
  }

  .dropdown-item {
    font-size: 1.1rem; 
  }

  .navbar-toggler {
    background-color: white;
    border-color: white;
  }
  footer li a {
    text-decoration: none;
    color: white;
  }
  
  body {
    background-color: DDF2FD;
  }
